* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.6;
}

/* ===============================
    HEADER
=================================== */
header {
    background-color: #000000;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;


}

.nav-links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
    padding-right: 20px;
}

.nav-links ul li a {
    color: #a42727;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #ff0000;
}

/* ===============================
    HERO SECTION
=================================== */
.hero {
    background: url('https://images.unsplash.com/photo-1607706189992-eae578626c86?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;

}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero .btn {
    background-color: #a42727;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #ff0000;
}

.hero-text {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

/* ===============================
    ABOUT SECTION
=================================== */

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
}

about-text {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

.skills ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.skills ul li {
    background-color: #f4f4f4;
    color: #17968b;
    padding: 10px 20px;
    border-radius: 5px;
}
.skills span {
    color: #17968b;
    font-weight: bold;
}